<div class="flex justify-center items-center bg-gray-200">
    <div class="w-[450px] shadow-custom m-auto p-12 rounded-[18px] bg-white">
        <h3 class="text-center text-3xl mb-5">Update Password</h3>
        <form nz-form [formGroup]="updateForm" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Please enter your current password!">
                  <nz-input-group [nzSuffix]="suffixTemplateCurrect" class="text-input mt-2">
                      <input
                        [type]="currentpasswordVisible ? 'text' : 'password'"
                        nz-input
                        placeholder="Enter your current password"
                        formControlName="currentpassword"
                        (change)="validUserPassword()"
                      />
                    </nz-input-group>
                    <ng-template #suffixTemplateCurrect>
                      <span
                        nz-icon
                        [nzType]="currentpasswordVisible ? 'eye-invisible' : 'eye'"
                        (click)="currentpasswordVisible = !currentpasswordVisible"
                      ></span>
                    </ng-template>
                </nz-form-control>
              </nz-form-item>
            <nz-form-item>
              <nz-form-control [nzErrorTip]="oldNeWMatched">
                <nz-input-group [nzSuffix]="suffixTemplateNewpassword"class="text-input mt-2">
                    <input
                      [type]="newpasswordVisible ? 'text' : 'password'"
                      nz-input
                      placeholder="Enter your new password"
                      formControlName="newpassword"
                      (ngModelChange)="validateConfirmPassword()"
                    />
                  </nz-input-group>
                  <ng-template #suffixTemplateNewpassword>
                    <span
                      nz-icon
                      [nzType]="newpasswordVisible ? 'eye-invisible' : 'eye'"
                      (click)="newpasswordVisible = !newpasswordVisible"
                    ></span>
                  </ng-template>
                  <ng-template #oldNeWMatched let-control>
                    @if (control.errors?.['required']) {
                      Please enter your password!
                      }
                      @if (control.errors?.['newpasswordSameAsOld']) {
                       Old & new password are matched !
                      }
                  </ng-template>
              </nz-form-control>
            </nz-form-item>
          
              <nz-form-item>
                <nz-form-control class="relative" [nzErrorTip]="passwordErrorTpl">
                  <nz-input-group [nzSuffix]="suffixTemplateConPassword"class="text-input mt-2">
                      <input
                        [type]="conpasswordVisible ? 'text' : 'password'"
                        nz-input
                        placeholder="Enter your confirm password"
                        formControlName="confirmpassword"
                      />
                    </nz-input-group>
                    <ng-template #suffixTemplateConPassword>
                      <span
                        nz-icon
                        [nzType]="conpasswordVisible ? 'eye-invisible' : 'eye'"
                        (click)="conpasswordVisible = !conpasswordVisible"
                      ></span>
                    </ng-template>
                    <ng-template class="absolute" #passwordErrorTpl let-control>
                      @if (control.errors?.['required']) {
                      Enter minimum 8 character confirm your valid password!
                      }
                      @if (control.errors?.['confirmpassword']) {
                      Password is inconsistent!
                      }
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
            
            <button nz-button class="w-full theme-btn"  [nzType]="'primary'">Save</button>
           
        </form>
    </div>
    
</div>