/* You can add global styles to this file, and also import other style files */
@tailwind base;
*{
    scrollbar-width: thin;
}
@tailwind components;
@tailwind utilities;

:root {
    --primary-theme-color: #f79420;
    --primary-font-color: #303740;
    --secondary-font-color: #54606E;
    --border-color: #CBD5E1;
    --place-holder-color: #BBBFC5;
    --disable-color: #D7D9E4;
    --danger-color: #CD0000;
}
@layer utilities {
    .text-input {
        @apply p-2 rounded-md border-border-color !important;
    }

    .theme-btn {
        @apply h-12 font-medium rounded-md !important;
    }
}
